html, body
{
    background: #FFF;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* =ANIMATION
------------------------------------------------------- */

@keyframes widget-fade-in
{
    0%   { opacity: 0; transform: scale(1.2, 1.2); }
    100% { opacity: 1; transform: scale(1, 1); }
}

@keyframes viz-indicator-fade-in
{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* =DASHBOARD
------------------------------------------------------- */

.dashboard
{
    margin: 3em auto;
    max-width: 80em;
}

/* =WIDGET
------------------------------------------------------- */

.widget
{
    animation-name: widget-fade-in;
    animation-duration: 0.5s;
    padding-bottom: 1.5em;
    position: relative;
}

.widget h2
{
    text-indent: -9999em;
}

/* =VISUALIZATIONS
------------------------------------------------------- */

.viz
{
    aspect-ratio: 1 / 1;
    background: rgb(238, 238, 238);
    box-shadow: 0 0 20px rgb(243, 243, 243);
    display: block;
    margin: 2em auto;
    max-width: 20em;
    position: relative;
    text-indent: -9999em;
    transition: background-color 0.3s;
    width: 50%;
}

.viz.complete
{
    background: rgb(218, 235, 251);
}

.viz-indicator
{
    background: rgb(168, 168, 168);
    display: block;
    height: 15%;
    position: absolute;
    top: 0;
    right: 0;
    transition: background-color 0.3s, height 0.1s, width 0.1s, left 0.1s, top 0.1s;
    width: 15%;   
}

.complete .viz-indicator
{
    background: rgb(72, 156, 235);
}

.viz-center-children
{
    align-items: center;
    display: flex;
    justify-content: center;
}

.viz-center-children .viz-indicator
{
    position: relative;
}

.viz-multiple-children
{
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.viz-multiple-children .viz-indicator
{
    animation-duration: 0.1s;
    animation-name: viz-indicator-fade-in;
    position: relative;
}

.viz-circle, .viz-circle-pair, .viz-circle .viz-indicator
{
    border-radius: 10em;
}

.viz-half-circle
{
    border-radius: 10em 10em 0 0;
    height: 10em;
    overflow: hidden;
    position: relative;
}

.viz-half-circle .viz-indicator
{
    height: 150%;
    left: -50%;
    top: 100%;
    position: absolute;
    transform-origin: top center;
    transition: transform 0.5s;
    width: 200%;
}

.viz-blank
{
    background: transparent;
    position: relative;
}

.complete.viz-blank
{
    background: transparent;
}

.viz-square-outline
{
    background: transparent;
    border: 5px rgb(238, 238, 238) solid;
}

.complete.viz-square-outline
{
    border-color: rgb(218, 235, 251);
}

.viz-indicator-radial
{
    margin-left: -7.5%;
    margin-top: -7.5%;
}

.viz-indicator-growing-shrinking
{
    transition: height 0.5s, width 0.5s;
}

.viz-indicator-left, .viz-indicator-right
{
    border-radius: 5em;
    position: absolute;
}

.viz-indicator-left
{
    z-index: 1;
}

.viz-indicator-right
{
    background: rgb(238, 238, 238);
    z-index: 0;
}

.viz-indicator-cross
{
    border-radius: 0;
    height: 100%;
    width: 1.5em;
}

.viz-indicator-cross.viz-indicator
{
    background: rgb(168, 168, 168);
    left: 40%;
}

.viz-indicator-cross.viz-indicator-left
{
    transform: rotate(-45deg);
}

.viz-indicator-cross.viz-indicator-right
{
    transform: rotate(45deg);
}