html, body
{
    background: #ECECEC;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* =ANIMATION
------------------------------------------------------- */

@keyframes widget-fade-in
{
    0%   { opacity: 0; transform: scale(1.2, 1.2); }
    100% { opacity: 1; transform: scale(1, 1); }
}

@keyframes goal-fade-in
{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

/* =DASHBOARD
------------------------------------------------------- */

.dashboard
{
    display: grid;
    gap: 1em;
    grid-template:  "widgets goals"
                    / 80% 20%;
    margin: 3em auto;
    max-width: 80em;
}

/* =PANEL
------------------------------------------------------- */

.panel
{
    background: #FFF;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    box-shadow: rgb(194, 194, 194) 0 3px 3px;
    padding: 1em;
    width: 12em;
}

.panel h2
{
    font-size: 0.85em;
    font-weight: bold;
    margin: 0;
}

/* =WIDGET
------------------------------------------------------- */

.widget-container
{
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, 12em);
    grid-template-rows: 15em 15em;
}

.widget
{
    animation-name: widget-fade-in;
    animation-duration: 0.5s;
    padding-bottom: 1.5em;
}

.widget h2
{
    text-align: center;
}

.widget .value
{
    display: block;
    text-align: center;
    font-size: 9em;
}

.widget .value.big-value
{
    font-size: 7em;
    margin: 0.2em 0;
}

.widget .measurement
{
    color: rgb(128, 128, 128);
    display: block;
    text-align: center;
    margin-top: -1.5em;
}

/* =INFO-PANELS
------------------------------------------------------- */

.info-panel
{
    width: 100%;
}

.info-panel h2
{
    color: rgb(72, 156, 235);
    font-size: 1.5em;
}

.info-panel ul
{
    list-style: none;
    margin: 2em 0 0;
    padding: 0;
}

.info-panel li
{
    margin-bottom: 1em;
}

/* =GOALS
------------------------------------------------------- */

.goal-panel
{
    grid-area: goals;
    height: 40em;
    overflow: hidden;
    position: relative;
}

.goal-panel::after
{
    background: #FFF;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%);
    bottom: 0;
    content: '';
    display: block;
    height: 5em;
    left: 0;
    position: absolute;
    width: 100%;
}

.goal-title
{
    display: block;
    font-weight: bold;
    margin-bottom: 0.3em;
}

.goal-list li
{
    animation-name: goal-fade-in;
    animation-duration: 0.5s;
    transition: opacity 0.5s;
}

.goal-list li.complete
{
    opacity: 0.2;
}

.goal-list li progress
{
    border-radius: 0;
    display: block;
    height: 5px;
    width: 100%;
}

.goal-list li progress::-webkit-progress-value
{
    background-color: rgb(72, 156, 235);
    transition: width 0.2s;
}

.goal-list li progress::-webkit-progress-bar
{
    background-color: rgb(231, 231, 231);
}