html, body
{
    background: #ECECEC;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* =ANIMATION
------------------------------------------------------- */

@keyframes widget-fade-in
{
    0%   { opacity: 0; transform: scale(1.2, 1.2); }
    100% { opacity: 1; transform: scale(1, 1); }
}

@keyframes viz-indicator-fade-in
{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* =DASHBOARD
------------------------------------------------------- */

.dashboard
{
    display: grid;
    gap: 1em;
    grid-template:  "widgets goals"
                    / 80% 20%;
    margin: 3em auto;
    max-width: 80em;
}

/* =PANEL
------------------------------------------------------- */

.panel
{
    background: #FFF;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    box-shadow: rgb(194, 194, 194) 0 3px 3px;
    padding: 1em;
    width: 12em;
}

.panel h2
{
    font-size: 0.85em;
    font-weight: bold;
    margin: 0;
}

/* =WIDGET
------------------------------------------------------- */

.widget-container
{
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, 12em);
    grid-template-rows: 15em 15em;
}

.widget
{
    animation-name: widget-fade-in;
    animation-duration: 0.5s;
    padding-bottom: 1.5em;
    position: relative;
}

.widget h2
{
    text-indent: -9999em;
}

/* =VISUALIZATIONS
------------------------------------------------------- */

.viz
{
    background: rgb(238, 238, 238);
    display: block;
    height: 7em;
    margin: 2em auto;
    position: relative;
    text-indent: -9999em;
    transition: background-color 0.3s;
    width: 7em;
}

.viz.complete
{
    background: rgb(218, 235, 251);
}

.viz-indicator
{
    background: rgb(168, 168, 168);
    display: block;
    height: 1.5em;
    position: absolute;
    top: 0;
    right: 0;
    transition: background-color 0.3s, height 0.1s, width 0.1s;
    width: 1.5em;
}

.complete .viz-indicator
{
    background: rgb(72, 156, 235);
}

.viz-center-children
{
    align-items: center;
    display: flex;
    justify-content: center;
}

.viz-center-children .viz-indicator
{
    position: relative;
}

.viz-multiple-children
{
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.viz-multiple-children .viz-indicator
{
    animation-duration: 0.1s;
    animation-name: viz-indicator-fade-in;
    position: relative;
}

.viz-circle, .viz-circle-pair
{
    border-radius: 7em;
}

.viz-circle .viz-indicator
{
    border-radius: 7em;
}

.viz-half-circle
{
    border-radius: 7em 7em 0 0;
    height: 3.5em;
    overflow: hidden;
    position: relative;
}

.viz-half-circle .viz-indicator
{
    height: 7em;
    left: -3.5em;
    position: absolute;
    transform-origin: center right;
    width: 7em;
}

.viz-blank
{
    background: transparent;
    position: relative;
}

.complete.viz-blank
{
    background: transparent;
}

.viz-square-outline
{
    background: transparent;
    border: 5px rgb(238, 238, 238) solid;
}

.complete.viz-square-outline
{
    border-color: rgb(218, 235, 251);
}

.viz-indicator-left, .viz-indicator-right
{
    border-radius: 5em;
    position: absolute;
}

.viz-indicator-left
{
    z-index: 1;
}

.viz-indicator-right
{
    background: rgb(238, 238, 238);
    z-index: 0;
}